<a href="https://colab.research.google.com/github/Varshith734/pythonworkshop/blob/main/python6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
number={1,2,3,4}
print(number)

{1, 2, 3, 4}

In [ ]:
a=set(("ece","cse","ise"))
a.add("mech")
a.add("cse")
a.remove("mech")
print(a)
print(len(a))
deleted=a.pop()
print(deleted)
print(a)

{'cse', 'ece', 'ise'}
3
cse
{'ece', 'ise'}

In [ ]:
thisset={"apple","banana","cherry"}
thisset.clear()
print(thisset)
print(len(thisset))

set()
0

In [ ]:
thisset={"apple","banana","cherry"}
del thisset
print(thisset)

NameError: ignored

In [ ]:
set1={"a","b","c"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [ ]:
thisset={"apple","banana","cherry"}
tropical={"pineapple","mango","papaya"}
thisset.update(tropical)
print(thisset)

{'banana', 'mango', 'papaya', 'apple', 'pineapple', 'cherry'}

In [ ]:
thisset={"apple","banana","cherry"}
mylist=["kiwi","orange"]
thisset.update(mylist)
print(thisset)

{'banana', 'kiwi', 'orange', 'apple', 'cherry'}

In [ ]:
t={1,2,3}
m=[1,2,3]
t.union(m)
print(t)
t.update(t)
print(t)

{1, 2, 3}
{1, 2, 3}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.remove("banana")
print(fruits)
more_fruits=["orange","mango","graphes"]
fruits=fruits.union(more_fruits)
print(fruits)

{'apple', 'cherry'}
{'orange', 'graphes', 'mango', 'apple', 'cherry'}

#remove using discard

In [ ]:
fruits={"apple","banana","cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}

In [ ]:
a=[1,2,1,2,3]
x=a.count(2)
print(x)

2

In [ ]:
x=[1,2,1,2,3]
print(len(set(x)))

TypeError: ignored

In [ ]:
x=[1,2,1,2,3]
print(len(set(x)))

3

In [ ]:
today={
    "day":"thursday",
    "date":"7",
    "month":"jan",
}
print(today)

{'day': 'thursday', 'date': '7', 'month': 'jan'}

In [ ]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
thisdict={
    "brand":"ford",
    "model":"Mustag",
    "year":"2001" ,
    "year":"1974",
    "model":"GT"
      
}
print(thisdict)
print(len(thisdict))
x=thisdict["model"]
print(x)
y=thisdict.keys()
print(y)

{'brand': 'ford', 'model': 'GT', 'year': '1974'}
3
GT
dict_keys(['brand', 'model', 'year'])

In [ ]:
thisdict={
    "brand":"ford",
    "model":"Mustag",
    "year":"2001" ,
}
thisdict.popitem()
print(thisdict)

{'brand': 'ford', 'model': 'Mustag'}

In [ ]:
thisdict={
    "brand":"ford",
    "model":"Mustag",
    "year":"2001" ,
}
thisdict.clear()
print(thisdict)

{}

In [ ]:
car={
    "brand":"ford",
    "model":"Mustag",
    "year":"2001" ,
}
print(car.get("model"))
car["year"]=2021
print(car)
car["color"]="red"
print(car)
del car["model"]
print(car)

Mustag
{'brand': 'ford', 'model': 'Mustag', 'year': 2021}
{'brand': 'ford', 'model': 'Mustag', 'year': 2021, 'color': 'red'}
{'brand': 'ford', 'year': 2021, 'color': 'red'}

In [ ]:
a=33
b=200
if b>a:
 print("b is greater than a")
elif a == b:
 print("a and b are equal")
else: 
 print("a is grather than b")

b is greater than a

In [ ]:
a=50
b=10
if b>a:
  print("hello world")
else:
    print("hii")

hii

#assignment

In [ ]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=int(input("enter the third number"))
if a>b:
  print("a is greather")
elif b>c:
  print("b is greater")
else:
  print("c is greather")

enter the first number10
enter the second number20
enter the third number10
b is greater

In [ ]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
i=1
while i<6:
  print(i)
  if i==3:
  break
i+=1

#sum

In [ ]:
n=int(input("Enter the n number"))
i=1
sum=0
while i<=n:
  sum=sum+i
  i+=1
print(sum)

Enter the n number3
6

In [ ]:
fruit=["apple","banana","cherry"]
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
fruit=["apple","banana","cherry"]
for x in range(4):
  print(x)

0
1
2
3

In [ ]:
for x in range(2,30,3):
 print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
adj=["green","red","blue"]
fruits=["apple","banana","cherry"]
for x in adj:
  for y in fruits:
    print(x,y)

green apple
green banana
green cherry
red apple
red banana
red cherry
blue apple
blue banana
blue cherry

In [ ]:
n=2
odd=[]
even=[]
i=0
for x in range():
  if n%2==0:

In [ ]:
even=[]
odd=[]
n=8
for i in range(1,n+1):
  if(i%2==1):
    odd.append(i)
  else:
    even.append(i)

print(odd)
print(even)

[1, 3, 5, 7]
[2, 4, 6, 8]

In [ ]:
even=[]
odd=[]
n=8
for i in range(1,n+1,2):
 odd.append(i)
 even.append(i+1)
print(odd)
print(even)

[1, 3, 5, 7]
[2, 4, 6, 8]

#list com

In [ ]:
n=20
list=[]
for i in range(1,n+1,1):
 list.append(i)

print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
even=[]
for i in range(0,10,2):
  even.append(i)
print(even)

[0, 2, 4, 6, 8]

In [ ]:
evenlist=[i for i in range (1,21) if i%2==0]
print(evenlist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
oddlist=[i*i for i in range (1,21) if i%2==1]
print(oddlist)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [ ]:
if :
  print("hello")
else:
  print("hio")

hello

In [ ]:
mylist=[1,1,2,4,5]
print(all(mylist))
 
mylist2=[1,9,4,0]
print(all(mylist))

True
True

In [ ]:
lst=[]
for i in range(2,21):
 isPrime=True
 for j  in range(2,i):
   if i%j==0:
     isPrime=False
     break
 if isPrime:
     lst.append(i)
print(lst)

[2, 3, 5, 7, 11, 13, 17, 19]

#assignment

In [ ]:
square=[i*i for i in range (1,26) if i*i<26]
print(square)

[1, 4, 9, 16, 25]

#function

In [ ]:
def my_function(a,b,c=3):
  print(a,b,c)
my_function("jack","jill")

jack jill 3

In [ ]:
#lst=["jack","jill","abhi","rohan"] 
physics=int(input())
chemistry=int(input())
print("jayaraj"+str(physics+chemistry))

In [ ]:
def myfun(a,b):
 print("your name:"+a)
 print("your marks:"+b)
myfun("vaibahav","19")

your name:vaibahav
your marks:19