<a href="https://colab.research.google.com/github/Varshith734/pythonworkshop/blob/main/pyws1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
x=6
def funs():
y=9
x=x+1;
print(y)
funs()
print(x)

IndentationError: ignored

#exercise-1

In [23]:
carname="volvo"
print(carname)

volvo

#exercise-2

In [24]:
x=50
print(x,type(x))

50 <class 'int'>

#exercise-3

In [28]:
x=5
y=10
sum=x+y
print(sum)

15

In [29]:
x,y=5,10
print(x+y)

15

#exercise-4

In [30]:
x,y=11,17
sum=x+y
print("sum is ",sum)

sum is  28

In [36]:
x1="hello world"
x2=5
x3=5.6
x4=["apple","banana","cherry"]
x5=("apple","banana","cherry")
x6=range(6)
x7={"name":"Johnwick","age":36}
x8={"apple","banana","cherry"}
x9=True
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))
print(type(x7))
print(type(x8))
print(type(x9))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'bool'>

In [38]:
x=range(1,5,2)
print(list(x))

[1, 3]

In [41]:
 x=1
 y=2.8
 z=1j
 a=float(x)
 b=int(y)
 print(b)
 print(a)
 c=complex(x)
 print(c)

2
1.0
(1+0j)

In [45]:
x=int(1)
y=int(2.8)
z=("3")
print(x,y,z)
x=float(1)
y=float(2.8)
z=float("3")
a=float("4.2")
print(x,y,z,a)

b=str("n1")
c=str(2)
d=str(3.0)
print(b,c,d)

1 2 3
1.0 2.8 3.0 4.2
n1 2 3.0

#assignment

In [46]:
x,y="2","3"
c=x+y
print("x+y=" +c)

x+y=23

In [48]:
name="jay"
print(name)
print(type(name))

jay
<class 'str'>

In [52]:
name="Hello world"
print(name[4])
print(len(name))

o
11

In [57]:
text="things in life are free"
print("in"in text)

True

In [60]:
text="things in life are free!!!"
print(text[:5])

thing

In [61]:
text="things in life are free!!!"
print(text[5:])

s in life are free!!!

In [62]:
text="things in life are free!!!"
print(text[-5:-2])

ee!

In [64]:
text="things in life are free!!!"
print(text.upper())

THINGS IN LIFE ARE FREE!!!

In [65]:
text="things in life are free!!!"
print(text.lower())

things in life are free!!!

In [68]:
a="hello"
b="world"
print(a+b)

helloworld

In [71]:
age=30
text="My name is john, and I am {}"
print(text.format(age))

My name is john, and I am 30

In [74]:
text="vaibhav shroff"
print(text.capitalize())

Vaibhav shroff

#code to

In [83]:
name="alvas"
print(len(name))
print(name.upper())
b="college"
print("after the concatenation" +name+b)
c=name+b
print(c)
print(c.isdigit)
print(c[0:5])

5
ALVAS
after the concatenationalvascollege
alvascollege
<built-in method isdigit of str object at 0x7f399a7c92f0>
alvas

In [92]:
inp=input("enter the something:")
print(len(inp))
print(inp[0:4])
print(inp.upper())
print(inp+ " college")
inp=inp+"{}"
print(inp.format(" college"))
print(inp.isdigit())

enter the something:college
7
coll
COLLEGE
college college
college college
False

In [95]:
x=5
x+=3
print(x)

8

In [101]:
x=5
y=6
print(x==y)

False

In [104]:
print(3<0 and 3<8)

False

In [106]:
print(3<0 or 3<8)
print(not(2>1))

True
False

In [109]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=a+b
d=a-b
e=a*b
f=a/b
print("addition is",c)
print("substraction is",d)
print("multiplication is",e)
print("divide is ",f)

enter the first number10
enter the second number20
addition is 30
substraction is -10
multiplication is 200
divide is  0.5

In [116]:
thislist=["abhishek","pawan","prinson"]
print(thislist)
print(len(thislist))

['abhishek', 'pawan', 'prinson']
3

In [115]:
thislist=list(("abhishek","pawan","prinson"))
print(thislist)

['abhishek', 'pawan', 'prinson']

In [133]:
l=["cse","ise","ece","mech"]
print(l[0:1])

['cse']

In [134]:
l=["cse","ise","ece","mech"]
print(l[1:])

['ise', 'ece', 'mech']

In [135]:
thislist=["apple","banana","cherry"]
print(len(thislist))
thislist.append("orange")
print(thislist)
print(len(thislist))

3
['apple', 'banana', 'cherry', 'orange']
4

In [136]:
thislist=["apple","banana","cherry"]
tropical=["mango","pineapple","papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [137]:
thislist=["apple","banana","cherry"]
tropical=["mango","pineapple","papaya"]
newlist=thislist+tropical
print(newlist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [139]:
thislist=["apple","banana","cherry"]
tropical=["mango","pineapple","papaya"]
newlist=thislist+tropical
print(newlist)
newlist.pop(0)
print(newlist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [140]:
thislist=[100,50,65,82,83]
thislist.sort()
print(thislist)

[50, 65, 82, 83, 100]

In [142]:
thislist=[100,50,65,82,83]
thislist.sort(reverse=True)
print(thislist)

[100, 83, 82, 65, 50]

In [146]:
namelist=["harsh","pratik","bob","dhruv"]
print(namelist[1])

pratik

In [151]:
animal=['cat','dog','fish','goat']
age=[1,2,2,6]
print(animal+age)
animal.extend(age)
print(animal)

['cat', 'dog', 'fish', 'goat', 1, 2, 2, 6]
['cat', 'dog', 'fish', 'goat', 1, 2, 2, 6]

In [160]:
age=[1,2,3,4]
print(age)
age.append(9)
print(age)
age.pop(2)
print(age)
print(age.count(3))

[1, 2, 3, 4]
[1, 2, 3, 4, 9]
[1, 2, 4, 9]
0

In [163]:
thistuple=("apple","banana","cherry")
print(thistuple[-1])

cherry

In [168]:
x=("apple","banana","cherry")
print(x)
y=list(x)
y[1]="kiwi"
print(y)
x=tuple(y)
print(x)
z=tuple(y)
print(z)

('apple', 'banana', 'cherry')
['apple', 'kiwi', 'cherry']
('apple', 'kiwi', 'cherry')
('apple', 'kiwi', 'cherry')

In [170]:
fruits=("apple","banana","cherry")
print(fruits)
x=list(fruits)
print(x)
y=tuple(fruits)
print(y)

('apple', 'banana', 'cherry')
['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')